body, p, b, span, a, button {
    font-family: "Consolas", monospace;
    font-size: 18px;
}

body {
    background-color: black;
}

.container {
    position: absolute;
    width: 400px; height: 400px;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
.chess-board { border-spacing: 0; border-collapse: collapse; }
.chess-board td {
    width: 1.5em; height: 1.5em;
    text-align: center;
    font-size: 32px;
    line-height: 0;}
.chess-board .light { background: #ccc; }
.chess-board .dark { background: #888; }
.chess-board td.mov:hover { background: #88f; }
